<html>
<title>Wi-Fi Analysis Report of the Eventtranscript.db</title>
<head>
    <style>
        * {
            font-family: sans-serif;
        }
        body {
            padding: 20px;
            margin: 10px;
        }
        table {
            border-collapse: collapse;
            text-align: left;
        }
        table tr {
            border-bottom: 1px solid
        }
        table th, table td {
            padding: 10px 20px;
        }
    </style>
</head>
<body>

<h1>Wi-Fi Analysis Report of the Eventtranscript.db</h1>

<h2>Basic Device Information within the Eventtranscript.db<h2>
<br/>
{{ dev_table }}
<br/>
<h2>Timeline Graph of Web Browser Action<h2>
<br/>
{{ wifi_graph }}
<br/>

</body>
</html>